.navbar-brand{
  margin-left: 190px;
}


.navbar-nav{
  margin-left: 450px;
}
.image8{
  position: absolute;
  bottom: 100px;
  right: 960px;
  top: 120px;
  z-index: 111;
  border-radius: 100%;
}
.image9{
  position: absolute;
  bottom: 100px;
  right: 200px;
  top: 120px;
  z-index: 111;
  border-radius: 20px;
}
.image10{
  border-radius: 20px;
}
.navbar{
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #f1f1f1;
}
.h1{
  position: absolute;
  bottom: 100px;
  right: 850px;
  top: 390px;
  z-index: 111;
}

.img_One{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  padding:0 200px;
  justify-content: space-between;
  box-sizing: border-box;
}
header{
  margin-bottom: 150px;
}
section{
  margin-bottom: 110px;
}
.MY {
  text-align: center;
}
.p1{
  position: absolute;
  bottom: 320px;
  left: 40%;
  font-size: 20px;
}
.p2{
  position: absolute;
  bottom: 290px;
  left: 40%;
  font-size: 20px;
}
.a{
  margin-top:5px ;
  color: #000;
  margin-left:200px;
}
.a:hover{
  padding:5px 13px;
  background-color: #000;
  color: #ffff;
  border-radius: 20px;
}